.offering_form_outer {
    padding: 1rem;
    overflow-y: auto;
}
.offering_form_outer:hover{
    box-shadow: 0 0 4px grey;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.offering_form_header {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 0;
    text-transform: uppercase;
}