.offering_form_outer {
    padding: 1rem;
    overflow-y: auto;
}
.offering_form_outer:hover{
    box-shadow: 0 0 4px grey;
}

.offering_form_header {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 0;
}