.request_form_outer {
    padding: 1rem;
    overflow-y: auto;
}

.request_form_outer:hover{
    box-shadow: 0 0 4px grey;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.request_form_header {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 0;
}